.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}
input, button, select {
  font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}
.alert-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  margin: 20px auto 10px;
  gap: 20px;
}
.header div {
  display: flex;
  justify-content: center;
}
.header input {
  min-width: 300px;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
}
.header button {
  border-radius: 4px;
  min-width: 80px;
  font-size: 18px;
}
.info-panel {
  padding: 20px 20px;
}
.select-panel {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.select-panel select{
  min-width: 100px;
  height: 30px;
}
.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
  box-sizing: border-box;
  align-items: flex-start;
  margin: auto;
  gap: 10px;
}
.list-item {
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  height: fit-content;
  min-height: 420px;
  box-sizing: border-box;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 240px;
  height: 40%;
  padding: 10px 10px;
  background-color: rgba(34, 32, 32, 0.15);
  cursor: pointer;
}
.alt-img {
  max-width: 200px;
  max-height: 200px;
}
.info-container {
  padding: 0px 10px;
  margin-top: auto;
}
.footer {
  padding: 10px;
}
.footer button {
  border-radius: 4px;
  min-width: 100px;
  font-size: 18px;
}
.detail-page {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}
.detail-item {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
.detail-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-info-container button{
  margin-top: 20px;
  max-width: 50%;
  width: 200px;
  height: 24px;
}
.detail-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail-img-container {
  border-radius: 4px;
  background-color: rgba(34, 32, 32, 0.15);
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 825px) {
  .detail-item {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .detail-item {
    flex-direction: column;
  }
  .detail-img-container {
    padding: 20px 20px;
  }
  .detail-page {
    padding: 10px 10px;
  }
}